body {
    background-color: #e0e6ea;
    background-image: url("backimg.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center bottom;
}

nav {
    float: left;
    width: 30%;
}

article {
    float: left;
    width: 70%;
}

@media (max-width: 600px) {
    nav, article {
        width: 100%;
        height: auto;
    }
}

a:link {
    color: black;
    font-weight: bold;
    background-color: transparent;
    text-decoration: none;
}

a:visited {
    color: black;
    font-weight: bold;
    background-color: transparent;
    text-decoration: none;
}

a:hover {
    color: grey;
    font-weight: bold;
    background-color: transparent;
    text-decoration: none;
}

a:active {
    color: black;
    font-weight: bold;
    background-color: transparent;
    text-decoration: none;
}

h3 {
    font-family: Verdana, sans-serif;
    font-size: 130%;
    text-align: left;
}

p.project {
    font-family: Verdana, sans-serif;
    font-size: 100%;
    text-align: left;
}

#mainimage {
    border-radius: 50%;
    display: block;
    margin: 0 auto;
}

p.socialmedia {
    font-family: Verdana, sans-serif;
    font-size: 100%;
    text-align: center;
}